/.vscode/
/.git/
/Macro_Chartist/SavedData/*
/Macro_Chartist/Chart_templates/*
/Macro_Chartist/YoYBiz/*
/Global_M2/M2_USD_Tables/*
/Global_M2/TVDataFeed/*
/Global_M2/Datasums/*
/GlobalReserves/*
/MacroBackend/SystemInfo/*
!/MacroBackend/SystemInfo/API_Keys_demo.json
/MacroBackend/tvDatafeedz/*
/MacroBackend/Glassnode/Saved_Data/*
/NetLiquidity/NLQ_Data/*
/NetLiquidity/FRED_Data/*
/NetLiquidity/CompAssets/*
/NetLiquidity/TreasuryData/**
/MacroBackend/PairCorrelation/
*.DS_Store
**/__pycache__
**/.DS_Store
.DS_Store/