/.vscode/*
/Macro_Chartist/Chart_templates/*
!/Macro_Chartist/Chart_templates/GDP vs GDI.xlsx
/Global_M2/M2_USD_Tables/*
/Global_M2/Datasums/*
/User_Data/*
!/User_Data/BEA/GDP_PriceDeflator.xlsx
!/User_Data/FRED_Data/WRESBAL.xlsx
!/User_Data/Glassnode/GN_MetricsList.xlsx
!/User_Data/GlobalReserves/BalSheets/CNCBBS.xlsx
!/User_Data/GlobalReserves/ComboNetLiq/NLQ_BOJ.xlsx
!/User_Data/GlobalReserves/FXData/CNYUSD.xlsx
!/User_Data/GM2_Data/FinalData/China.xlsx
!/User_Data/GM2_Data/FX_Data/China_FX.xlsx
!/User_Data/GM2_Data/M2_Data/China_M2.xlsx
!/User_Data/NLQ_Data/NLQ_Data.xlsx
!/User_Data/SavedData/CPIAUCSL.xlsx
!/User_Data/TreasuryData/TGA_Since2005.xlsx
!User_Data/ABS/ABS_Series_MasterIndex.csv
/MacroBackend/SystemInfo/*
!/MacroBackend/SystemInfo/API_Keys_demo.json
/MacroBackend/Glassnode/Saved_Data/*
!/MacroBackend/Glassnode/Saved_Data/GN_MetricsList.xlsx
/MacroBackend/BEA_Data/Datasets/*
!/MacroBackend/BEA_Data/Datasets/BEAAPI_Info.xlsx
*.DS_Store
.DS_Store
.*
__pycache__/
**/$*