requests
pandas
pandas-datareader
numpy
matplotlib
plotly
openpyxl
yfinance
Nasdaq-Data-Link
scipy
PyQt6
fuzzywuzzy
levenshtein
ipywidgets
beautifulsoup4
selenium
tedata
readabs
pydantic
customtkinter
seaborn