requests
pandas
pandas-datareader
numpy
matplotlib
seaborn
plotly
altair
openpyxl
yfinance
yahoofinancials==1.18
Nasdaq-Data-Link
scipy
quandl
customtkinter
PyQt6
streamlit
fuzzywuzzy
levenshtein
ipywidgets